.home-wrapper {
    position: relative;
    font-size: 0;
    height: 100vh;
    overflow: hidden;
}
/* Log In */
    .login-form-wrapper {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 590px;
        min-width: 500px;
        background-color: #fff;
        border-radius: 7px;
        box-shadow: 0 0 20px #d0d0d0;
        overflow: hidden;
        opacity: 0;
        left: 75%;
        pointer-events: none;
        transition: all .4s ease-out;
    }
    .login-form-wrapper.show-entry-panel {
        opacity: 1;
        left: 50%;
        pointer-events: initial;
    }
        .login-form-title {
            font-size: 30px;
            font-weight: 700;
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 9px;
            padding: 25px 0;
            background: linear-gradient(45deg, #1e9086, #31ccbe);
        }
        .login-form-subtitle {
            font-size: 25px;
            font-weight: 400;
            color: #000000;
            letter-spacing: 2px;
            padding: 20px 40px;
            margin-top: 30px;
        }
        .login-field-wrapper {
            padding: 0 40px 20px;
        }
            .field-label {
                font-size: 16px;
                font-weight: 400;
                color: #8a8a8a;
                letter-spacing: 2px;
                margin-bottom: 7px;
            }
            .field-input.login-submit-wrapper {
                text-align: right;
            }
                .field-input input {
                    font-size: 19px;
                    font-weight: 400;
                    color: #7b7b7b;
                    letter-spacing: 2px;            
                    width: 100%;
                    padding: 10px;
                    border-radius: 10px;
                    border: 2px solid #e8e8e8;
                    outline: none;
                    transition: all .4s ease-in-out;
                }
                .field-input input:focus {
                    border: 2px solid #cccccc;
                }
                .field-input.login-submit-wrapper button {
                    font-size: 17px;
                    font-weight: 400;
                    color: #fff;
                    letter-spacing: 2px;
                    width: 30%;
                    padding: 10px 0;
                    background: #1e9086;
                    border: none;
                    border-radius: 3px;
                    cursor: pointer;
                    outline: #2cccbe;
                    transition: all .4s ease-in-out;
                }
                .field-input.login-submit-wrapper button:hover {
                    background: #2cccbe;
                }
        .sign-up-option-wrapper {
            padding: 0 40px;
        }
            .sign-up-text {
                font-size: 20px;
                font-weight: 400;
                color: #a7a7a7;
                text-align: center;
                margin-top: 20px;
            }
            .sign-up-link a {
                display: block;
                font-size: 24px;
                font-weight: 400;
                color: #1e9086;
                text-decoration: none;
                text-align: center;
                margin-top: 20px;
                padding: 15px 0;
                border: 1px solid #1e9086;
                border-radius: 5px;
                background: #fff;
                transition: all .4s ease-in-out;
            }
            .sign-up-link a:hover {
                background: #2cccbe;
                border: 1px solid #2cccbe;
                color: #fff;
            }
/* End of Log In */

/* Sign In */
    .signup-form-wrapper {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
        height: 520px;
        padding: 30px 0;
        background: #fff;
        box-shadow: 0 0 20px #d0d0d0;
        border-radius: 7px;
        overflow: hidden;
        opacity: 0;
        left: 25%;
        pointer-events: none;
        transition: all .4s ease-out;
    }
    .signup-form-wrapper.show-entry-panel {
        opacity: 1;
        left: 50%;
        pointer-events: initial;
    }
    .signup-form-wrapper.signup-details {
        height: 580px;
    }
        .signup-form-title {
            font-size: 20px;
            font-weight: 400;
            color: #bdbdbd;
            letter-spacing: 3px;
            width: 80%;
            margin: 0 auto;
        }
            .signup-form-title div {
                font-size: 40px;
                color: #000;
                text-transform: uppercase;
                padding-bottom: 7px;
                border-bottom: 1px solid #1e9086;
            }
        .signup-form-subtitle {
            font-size: 20px;
            font-weight: 400;
            color: black;
            width: 80%;
            margin: 0 auto;
            padding: 20px 0;
        }
        .signup-tab-control {
            position: relative;
        }
        .signup-tab-item {
            position: absolute;
            top: 0;
            left: 100%;
            width: 100%;
            height: 100%;
            opacity: 0;
            pointer-events: none;
            transition: all .4s ease-out;
        }
        .signup-tab-item.tab-active {
            left: 0;
            opacity: 1;
            pointer-events: initial;
        }
            .signup-step-user-level-title {
                font-size: 26px;
                font-weight: 400;
                color: #fff;
                background: linear-gradient(45deg, #1e9086, #31ccbe);
                padding: 10px 50px;
            }
                .signup-step-user-level-option-item {
                    font-size: 35px;
                    font-weight: 400;
                    color: #a5a5a5;
                    max-width: 80%;
                    margin: 25px auto;
                    border: 1px solid #e8e8e8;
                    border-radius: 6px;
                    padding: 15px;
                    cursor: pointer;
                    transition: all .4s ease-in-out;
                }
                .signup-step-user-level-option-item:hover {
                    border: 1px solid #000;
                    color: #000;
                }
            .signup-step-form {
                position: relative;
            }
                .signup-field {
                    padding: 5px 50px;
                }
                .signup-field.signup-field-submit {
                    text-align: right;
                }
                    .signup-label {
                        font-size: 17px;
                        font-weight: 400;
                        color: #000;
                        margin-bottom: 5px;
                    }
                    .signup-control input{
                        width: 100%;
                        height: 35px;
                        font-size: 15px;
                        padding: 0 10px;
                        border: none;
                        border-left: 4px solid #1e9086;
                        background-color: #f3f3f3;
                        outline: none;
                    }
                    .signup-control input::placeholder {
                        color: #c1c1c1;
                    }
                    .signup-field.signup-field-submit button {
                        font-size: 15px;
                        font-weight: 400;
                        color: #fff;
                        letter-spacing: 2px;
                        margin-top: 5px;
                        width: 30%;
                        padding: 11px 0;
                        border: none;
                        outline: none;
                        background-color: #1e9086;
                        cursor: pointer;
                        transition: all .4s ease-in-out;
                    }
                    .signup-field.signup-field-submit button:hover {
                        background: #2cccbe;
                    }
                    .signup-field.signup-field-submit .signup-back {
                        margin-right: 10px;
                        background: #9e9e9e;
                    }
                    .signup-field.signup-field-submit .signup-back:hover {
                        background: #8a8a8a;
                    }
/* End of Sign In */

/* Menu */
    .menu-wrapper {
        position: absolute;
        top: 20px;
        right: 20px;
    }
        .menu-wrapper nav li {
            display: inline-block;
            vertical-align: top;
            margin: 0 15px;
        }
        .menu-wrapper nav .nav-hidden {
            opacity: 0;
            pointer-events: none;
            transition: all .4s ease-in-out;
        }
            .menu-wrapper nav li a {
                position: relative;
                font-size: 16px;
                font-weight: 400;
                color: #000;
                text-decoration: none;
            }
            .menu-wrapper nav li a::after {
                content: "";
                position: absolute;
                bottom: -4px;
                left: 0;
                width: 0;
                height: 2px;
                background-color: #000;
                transition: all .4s ease-out;
            }
            .menu-wrapper nav li a:hover:after {
                width: 100%;
            }
/* End of Menu */